.chart{
    flex: 5;
    padding: 10px;
    color: gray;
    -webkit-box-shadow: 1px 1px 5px -1px #6A7475; 
box-shadow: 1px 1px 5px -1px #6A7475;
.title{
    margin-bottom: 20px;
    font-size: 28px;
}
}